<ul>
<% for bookmark in @bookmarks %>
  <li class="item <%= cycle('odd', 'even') %>">
    <p>
      <p class="title"><%= link_to bookmark.title, bookmark_path(:lang => bookmark.language.permalink, :bookmark_name => bookmark.permalink) %></p>
      <p class="description"><%= bookmark.description %></p>
    </p>
  </li>
<% end %>
</ul>

<div class="clearer"></div>