<ul>
<% @bookmark.question_list.each do |question| %>
  <li class="prettyblue"><%= question %> <%= link_to '&nbsp;', '#', :class => 'thumbsup', :style => 'margin-left:10px; text-decoration:none' %></li>
<% end %>
</ul>