<% content_for(:section) do %>Listing bookmarks<% end %>
<% content_for(:actionbar) do %><%= link_to 'New bookmark', new_bookmark_path %><% end %>
<% content_for(:toolbar) do %>- a   A +<% end %>

<%= render :partial => 'brief' %>

<p id="position"><%= will_paginate @articles, :id => 'pagination' %></p>