<h2>Listing comments</h2>

<table>
<% @comments.each do |comment| %>
  <tr>
    <td><%= simple_format(comment.body) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %>

<div id="comments">

<% @comments.each do |comment| %>
    <div class="comments">
    <%= simple_format(comment.body) %>      
    </div>
<% end %>
</div>