<h1>Listing comments</h1>

<table>
<% @comments.each do |comment| %>
  <tr>
    <td><%= simple_format(comment.body) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %>