<% content_for(:breadcrumbs) do %>
  <li>Administration</li>
<% end %>
<h2 class="dashboard">Administration</h2>

<p>Bookmarks in system : <strong><%= @bookmarks %></strong></p>
<p>Bookmarks awaiting sanitation : <strong><%= @bookmarkimports %></strong></p>