#content { width:1000px; margin:auto; }
/* End hide from IE-mac */



/*h1 { border-bottom: 1px #DEDEDE solid; text-indent:-9999px; }
h1.bash { background:url(/images/titles/bash.png) no-repeat; }
h1.c { background:url(/images/titles/c.png) no-repeat; }
h1.cocoa { background:url(/images/titles/cocoa.png) no-repeat; }
h1.cpp { background:url(/images/titles/cpp.png) no-repeat; }
h1.csharp { background:url(/images/titles/csharp.png) no-repeat; }
h1.debian { background:url(/images/titles/debian.png) no-repeat; }
h1.java { background:url(/images/titles/java.png) no-repeat; }
h1.javascript { background:url(/images/titles/javascript.png) no-repeat; }
h1.mysql { background:url(/images/titles/mysql.png) no-repeat; }
h1.oracle { background:url(/images/titles/oracle.png) no-repeat; }
h1.postgresql { background:url(/images/titles/postgresql.png) no-repeat; }
h1.ruby { background:url(/images/titles/ruby.png) no-repeat; }
h1.rubyonrails { background:url(/images/titles/rubyonrails.png) no-repeat; }
h1.ubuntu { background:url(/images/titles/ubuntu.png) no-repeat; }
h1.xml { background:url(/images/titles/xml.png) no-repeat; }

h1.login { background:url(/images/titles/login.png) no-repeat; }
h1.bookmark_import { background:url(/images/titles/bookmark_import.png) no-repeat; }
h1.bookmark_imported { background:url(/images/titles/bookmark_imported.png) no-repeat; }
h1.bookmark_recent { background:url(/images/titles/bookmark_recent.png) no-repeat; }
h1.bookmark_viewing { background:url(/images/titles/bookmark_viewing.png) no-repeat; }

h1.jots_create { background:url(/images/titles/jot_create.png) no-repeat; }
h1.jots_my { background:url(/images/titles/jots_my.png) no-repeat; }

h1.settings { background:url(/images/titles/settings.png) no-repeat; }
*/

#list li { border-bottom:1px #DFDFDF solid; padding:15px 10px 3px 10px; }
#list li.even { background:#F9F9F9; }
#list p.title a { font-weight:bold; font-size:14px; }
#list p.title { margin-bottom:5px; }

.error_block { background:#F8F8F8; padding:10px; -webkit-border-radius:5px; -moz-border-radius:5px; }

/* comments */
.comment { min-height:75px; padding:10px 10px 10px 0; margin-bottom:10px; -webkit-border-radius:5px; -moz-border-radius:5px }
.comment a { font-size:10px; }
.comment .info { color:#76797c; font-size: 10px !important; }
.comment .CodeRay, .comment .CodeRay .code { max-width:980px; }
.comment .CodeRay .line_numbers { padding:0 3px 0 3px; }

.comment.normal { background:#eef4f9; }
.comment.normal .info strong { color:#519ef5; }
.comment.normal .title { color:#2186f7; font-weight:bold; }

.comment.high { background:#fbdbdc; }
.comment.high .info strong { color:#fa5757; }
.comment.high .title { color:red; font-weight:bold; }

.comment.low { background:#eee; }
.comment.low .info strong { color:#444; }
.comment.low .title { color:#333; font-weight:bold; }

table th { color:blue; font-size:12px; height:20px; vertical-align:top; }

#sessioninfo { font-size:10px; }

/* interactive table*/
table#interactive thead th { padding-top:5px; color:#FFFFFF; }
table#interactive thead tr { background:#2260be; }
table#interactive th, table#interactive td { padding:0px 5px 0 5px; }

table.bookmark_imports { margin:auto; }
table.bookmark_imports.interactive tbody tr { line-height:2.5em; }
table.bookmark_imports.interactive tbody tr:hover { background:#ddecff; cursor:pointer; }

/* timestamp box */
#timestampbox { color:#888888; background:#EEEEEE; -webkit-border-radius:5px; -moz-border-radius:5px; padding:10px; width:200px; }

/* notices */
#flash { margin:auto; margin-bottom:10px; padding:20px; text-align:center; }
#flash.blah { background-color: #bec; border: 1px solid #f00; }
#flash { background-color:#DFF2BF; border: 2px solid #cef192; color:green; }
#flash.warning { background-color:#FFF6BF; border: 1px solid #FFD324; }
#flash.error { background-color:#fcc; border: 1px solid #f00; padding:20px; color:red; }

/* errors */

.fieldWithErrors {
  padding: 3px;
  background-color: red;
  display: table;
  -webkit-border-radius:4px;
  color:#FFFFFF;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}