#header #gnav { margin:40px 0 0 250px; }
#header #gnav ul li { color:#FFFFFF; display:inline; list-style:none; font-size:12px; margin-left:30px; }
#header #gnav a { color:#FFFFFF; text-decoration:none; font-size:12px; }
#header #gnav a:hover { color:#FFFFFF; text-decoration:underline; }

#col-nav { width:125px; float:right; padding:10px 20px 15px 20px; border:1px solid #EEE; margin:20px; -webkit-border-radius:10px; -moz-border-radius:10px; background:#EFEFEF; }
#col-nav ul li { padding-top:5px; }
#col-nav ul a { text-decoration:none; }

#col-content { padding:20px; }



#breadcrumbs a { text-decoration:none; }


/* NEW BREADCRUMBS */
#breadcrumbs { font-size: 11px; color: #444; overflow: hidden; height: 32px; line-height: 32px; font-weight: bold; text-shadow: 2px 2px 1px #fff; float:left; }
#breadcrumbs a { color: #444; text-decoration: none; padding: 10px 5px 10px 5px; _cursor: hand; }
#breadcrumbs a:hover { color:green; text-decoration: none !important; }
#breadcrumbs a.home { position:relative; margin: 0; width: 15px; height: 0; padding-top: 35px; overflow: hidden; background:url(/images/icon_home.png) 0 25px no-repeat; }
#breadcrumbs li { color:green; background:url(/images/breadcrumb_sep.png) left no-repeat; padding:9px 10px 9px 20px; display:inline; }
#breadcrumbs li#home { background:none; margin-left:-15px; }

#breadcrumbsspan { float: left; width: 9px; margin: 0 10px 0 0; position: relative; height: 0; padding-top: 34px; margin-top: 1px; overflow: hidden; background: url(/images/breadcrumb_sep.png) no-repeat; behavior: url(/includes/iepngfix.htc); }

#actions { float:right; }
#actions a { color:#666666; text-decoration:none; }
#actions a:hover { color:#000000; }