#header #gnav { margin:40px 0 0 250px; }
#header #gnav ul li { color:#FFFFFF; display:inline; list-style:none; font-size:12px; margin-left:30px; }
#header #gnav a { color:#FFFFFF; text-decoration:none; font-size:12px; }
#header #gnav a:hover { color:#FFFFFF; text-decoration:underline; }

#header #gnav ul.bookmarks li#bookmarks a { color:#FFFFFF !important; text-shadow: 2px 2px 1px #999; }
#header #gnav ul.administration li#administration a { color:#FFFFFF !important; text-shadow: 2px 2px 1px #999; }
#header #gnav ul.users li#administration a { color:#FFFFFF !important; text-shadow: 2px 2px 1px #999; }

#col-nav { margin:20px 20px 20px; }
#col-nav ul li { padding-top:5px; }
#col-nav ul a { text-decoration:none; }

#col-nav ul#categories { background:url(/images/bg_box.gif) repeat-x; padding:10px 20px 15px 20px; border:4px solid #DDD; border:1px solid #DDD; -webkit-border-radius:8px; -moz-border-radius:8px; }
#col-nav ul#categories li a { padding:0 10px 0 10px; display:block; font-size:11px; line-height:1.5em; }


#col-nav ul.block { margin-top:30px; padding:10px 20px 15px 20px; border:4px solid #DDD; -webkit-border-radius:10px; -moz-border-radius:10px; background:#FAFAFA; }

#col-content { padding:20px; }

#breadcrumbs a { text-decoration:none; }

/* actions */
#actions li { display:inline; }

/* breadcrumbs */
#breadcrumbs { font-size: 11px; color: #444; overflow: hidden; height: 32px; line-height: 32px; font-weight: bold; text-shadow: 2px 2px 1px #fff; float:left; }
#breadcrumbs a { color: #444; text-decoration: none; padding: 10px 5px 10px 5px; _cursor: hand; }
#breadcrumbs a:hover { color:green; text-decoration: none !important; }
#breadcrumbs a.home { position:relative; margin: 0; width: 15px; height: 0; padding-top: 35px; overflow: hidden; background:url(/images/icon_home.png) 0 25px no-repeat; }
#breadcrumbs li { color:green; background:url(/images/breadcrumb_sep.png) left no-repeat; padding:9px 5px 9px 20px; display:inline; }
#breadcrumbs li#home { background:none; margin-left:-20px; }

#breadcrumbsspan { float: left; width: 9px; margin: 0 10px 0 0; position: relative; height: 0; padding-top: 34px; margin-top: 1px; overflow: hidden; background: url(/images/breadcrumb_sep.png) no-repeat; behavior: url(/includes/iepngfix.htc); }

#actions { float:right; font-weight:bold; }

/* pagination */

.pagination { padding: 2px; margin:30px 3px; text-align:center; }
.pagination a { padding: 2px 5px 2px 5px; margin: 0px; border: 1px solid #EEE; text-decoration: none; color: #036CB4; }
.pagination a:hover,
.pagination a:active { border: 1px solid #999; color: #666; }
.pagination .current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #036CB4; font-weight: bold; background-color: #036CB4; color: #FFF; }
.pagination .disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }


/* bookmark toggle */
#bookmark_toggle { padding:0 10px 0 0; margin-left:5px; width:14px; }
#bookmark_toggle.inactive { background:url(/images/buttons/btn_menu.png) no-repeat; }
#bookmark_toggle.active { background:url(/images/buttons/btn_menu_active.png) no-repeat; }
#bookmark_toggle:hover { text-decoration:none !important; }

/* guides */

#guides {
    width: 400px;
    display: block;
    background: #3e3e3e;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.25);
    -moz-box-shadow: rgba(0,0,0,0.25) 0.25em 0.25em 1em;
    color: #76f078;
    padding: 1.5em 2em;
    position: absolute;
    z-index: 10;
    top: 120px;
    left: 80px;
    padding-top: 2em;
}

#guides dd a { font-size:10px !important; }
#guides dt, #guides dd {
    font-weight: normal;
    font-size: 0.722em;
    margin: 0;
    padding: 0;
}
#guides dt {padding:0; margin: 0.5em 0 0;}
#guides a { color: #FFF; text-shadow:none !important; display:block; }
#guides .L, #guides .R {float: left; width: 50%; margin: 0; padding: 0;}
#guides .R {float: right;}
#guides hr {
    display: block;
    border: none;
    height: 1px;
    color: #76f078;
    background: #76f078;
}