body { font-size:10px; background:#f7f7f7 url(/images/backgroundbody20060707.jpg) top; }

/* header, localnav
--------------------------------------*/
#main #contentheader h1 { float: left; width: 120px; height:24px; line-height:24px; margin:8px 0 15px; }
#main #contentheader h1 a { display: block; width: 120px; height: 24px; text-indent:-99999px; background: url(http://images.apple.com/business/images/contentheader_smallbusiness.gif) no-repeat; margin: 0 0 0 6px; cursor:pointer; }
 
#main #contentheader ul#localnav { float: right; padding-right:4px; margin:19px 0 0; }
#main #contentheader ul#localnav li { display:inline; margin: 0; line-height: 12px; padding:0 11px; font-size:12px; }
#main #contentheader ul#localnav li.last { padding-right:0; }
#main #contentheader ul#localnav li a { color: #999; }
#main #contentheader ul#localnav li a:hover { color:#51A1C9; text-decoration:none; }
 
 
body#index #main #contentheader ul#localnav li#ln-home a,
body.macatwork #main #contentheader ul#localnav li#ln-macatwork a,
body.profiles #main #contentheader ul#localnav li#ln-profiles a,
body.solutions #main #contentheader ul#localnav li#ln-solutions a,
body.resources #main #contentheader ul#localnav li#ln-resources a,
body.theater #main #contentheader ul#localnav li#ln-theater a { color:#303030; cursor:pointer; }
 
/* main, content
--------------------------------------*/
#globalheader { *margin-bottom:0px; _margin-bottom:4px; }
#content { padding:0; clear: both; color:#666; }
#content.stroke { width:984px; margin-left:-2px; margin-right:-2px; margin-bottom:18px; background:url(http://images.apple.com/business/macatwork/images/macatwork_box_bg20070930.gif) repeat-y; }
#content.stroke .cap.top { background:transparent url(http://images.apple.com/business/macatwork/images/macatwork_box_top_bg20070930.gif) no-repeat -1px 0; }
#content.stroke .cap { clear:both; font-size:1px; height:11px; width:984px; }
#content.stroke .cap.bottom { background:transparent url(http://images.apple.com/business/macatwork/images/macatwork_box_bottom_bg20070930.gif) no-repeat scroll left bottom; height:9px; }
 
#content h3, #content h4 { color:#333; }
#main a { color:#08c; text-decoration:none; -moz-outline:none; }
#main .more { background:url(http://images.apple.com/business/images/arrow20071031.gif) no-repeat 100% 90%; padding-right:8px; zoom:1; }
#main h3 a, #main h4 a { color:#535353; }
#main a:hover { text-decoration:underline; }
#main h4 { font-size:11px; line-height:1.4em; margin-bottom:0em; }
#main p { font-size:11px; line-height:1.4em; }  
#main .copy p { font-size:12px; line-height:18px;}
#content h2.headline { padding:18px 6px 6px; border-bottom:1px solid #d9d9d9; font-size:18px; color:#333; font-weight:normal; }
#content .subcontent { font-size:11px; line-height:1.4em; }
#content .subcontent p { color:#818181; }
 
#main img.small { margin-bottom:5px; }
#main img.left.small { margin-right:10px; }
#main img.right.small { margin-left:10px; }        
img.centered { display:block; margin-left:auto; margin-right:auto; }
img.border { border: 1px solid #a0a0a0; }
 
/* grid resets */
#content .grid2cola .column.first { width:691px;}
#content .grid2cola .column.last { width:272px; }
#content .grid2cola .grid2col .column { width:46%; padding:0 0 18px; }
#content .grid2cola .grid2col .column.first { padding-left:6px; }
#content .grid2cola .grid2col .column.last { padding-right:6px; }
#content .grid3cola .column, #content .grid3colb .column { margin-left:16px; }
 
/* pill buttons */
body#video #main p.pillbutton { display:block; position:absolute; top:166px; left:267px; min-height:3em; margin:0 auto 1em; padding-right:43px; text-align:center; font-size:15px; line-height:1.3em; }
body#video #main p.pillbutton a { display:inline-block; position:relative; color:#fff; text-decoration:none; outline:none; moz-outline:none; }
body#video #main p.pillbutton a span,
body#video #main p.pillbutton a b { display:inline-block; width:auto; padding:15px 0; text-align:left; outline:none; }
body#video #main p.pillbutton a span { padding-right:8px; padding-left:25px; background:url(http://images.apple.com/global/elements/buttons/pillbevel_leftcap.png) no-repeat 0 50%; _background-image:url(http://images.apple.com/global/elements/buttons/pill_leftcap.gif); }
body#video #main p.pillbutton a b { position:absolute; width:43px; top:0; right:-43px; text-indent:-9999px; background:url(http://images.apple.com/global/elements/buttons/pillbevel_rightcap.png) no-repeat 0 50%; _background-image:url(http://images.apple.com/global/elements/buttons/pill_rightcap.gif); }
body#video #main p.pillbutton a b, x:-moz-any-link { top:inherit; margin-top:-15px; } /* this is for firefox because it's dumb when it comes to inline-block */
body#video #main p.pillbutton a b, x:-moz-any-link, x:default { top:0; margin-top:0; } /* this is to reset IE7 because it was reading the above */
body#video #main p.pillbutton a:hover { color:#e6e6e6; cursor:pointer; }


/* comments */
.comment { width:735px; min-height:75px; padding:10px 10px 10px 0; margin-bottom:10px; -webkit-border-radius:5px; -moz-border-radius:5px }
.comment a { font-size:10px; }
.comment .info { color:#76797c; font-size: 10px !important; }
.comment .CodeRay, .comment .CodeRay .code { width:600px; max-width:550px; }
.comment .CodeRay .line_numbers { padding:0 3px 0 3px; }

.comment.normal { background:#eef4f9; }
.comment.normal .info strong { color:#519ef5; }
.comment.normal .title { color:#2186f7; font-weight:bold; }

.comment.high { background:#fbdbdc; }
.comment.high .info strong { color:#fa5757; }
.comment.high .title { color:red; font-weight:bold; }

.comment.low { background:#eee; }
.comment.low .info strong { color:#444; }
.comment.low .title { color:#333; font-weight:bold; }

#tiny.comment { width:98%; margin:auto; min-height:0px; padding:0px; }
 
/* tips */
body.tips #main h2 { color:#303030; margin-left:6px; }
body.tips#entourage #main .column.last li.entourage a, body.tips#pos #main .column.last li.pos a, body.tips#parallels #main .column.last li.parallels a, body.tips#zipform #main .column.last li.zipform a, body.tips#inventory #main .column.last li.inventory a { text-decoration:none; color:#818181; }
body.tips #content h2 { margin:2px 0 18px 6px; padding-top:18px; font-size:20px; font-weight:normal; color:#333; border-top:1px solid #DBDBDB; line-height:22px; }
body.tips #content h2 span { font-size:18px; color:#666; }
 
body.tips #main .box h3 a { background:none; }
body.tips #main .box h3 a:hover { text-decoration:underline; }
 
body.tips.index1#entourage ul li.index1 a, body.tips.index2#entourage ul li.index2 a, body.tips.index3#entourage ul li.index3 a, body.tips.index4#entourage ul li.index4 a, body.tips.index5#entourage ul li.index5 a, body.tips.index6#entourage ul li.index6 a { text-decoration:none; color:#818181; }


 /* main, content
 -------------------------------------*/
 #content div.swap-container { width:980px; padding:0; margin:0 0 20px; font-size:12px; }
 #content div.swap-container .cap { position:relative; height:7px; font-size:1px; }
 #content div.swap-container .cap.bottom { height:7px; margin:0 -2px -2px; background:url(/images/content_bgbottom.gif) no-repeat 0 0; }

 /* lists */
 #main ul,
 #main ul li { margin:0; padding:0; }
 #main dl dt { display:inline; float:left; font-weight:bold; }
 #main dl dd { margin:0 0 18px 30px; }

 /* pill buttons */
 #main p.pillbutton { display:block; min-height:3em; margin:0 auto 1em; padding-right:43px; text-align:center; font-size:15px; line-height:1.3em; }
 #main p.pillbutton a { display:inline-block; position:relative; color:#fff; text-decoration:none; outline:none; moz-outline:none; }
 #main p.pillbutton a span,
 #main p.pillbutton a b { display:inline-block; width:auto; padding:15px 0; text-align:left; outline:none; }
 #main p.pillbutton a span { padding-right:8px; padding-left:25px; background:url(http://images.apple.com/global/elements/buttons/pillbevel_leftcap.png) no-repeat 0 50%; _background-image:url(http://images.apple.com/global/elements/buttons/pill_leftcap.gif); }
 #main p.pillbutton a b { position:absolute; width:43px; top:0; right:-43px; text-indent:-9999px; background:url(http://images.apple.com/global/elements/buttons/pillbevel_rightcap.png) no-repeat 0 50%; _background-image:url(http://images.apple.com/global/elements/buttons/pill_rightcap.gif); }
 #main p.pillbutton a b, x:-moz-any-link { top:inherit; margin-top:-15px; } /* this is for firefox because it's dumb when it comes to inline-block */
 #main p.pillbutton a b, x:-moz-any-link, x:default { top:0; margin-top:0; } /* this is to reset IE7 because it was reading the above */
 #main p.pillbutton a:hover { color:#e6e6e6; cursor:pointer; }

ul a { font-size:11px; }
p.description { color:gray; border-bottom:1px solid #E0E0E0; padding:10px 0 20px 0; margin-bottom:10px; }

 /* swapper styles
 -------------------------------------*/
 /* default state */
 #main #swap { position:relative; height:160px; background:#dcdbdb url(/images/bg_splash_dark.jpg) no-repeat; }

 /* bottom part (nav) */
 #main #subnav { background-color:#FFFFFF; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; _zoom:1; }
 #main #subnav:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

 #main #subnav .type { float:left; display:inline; width:978px; border-top:1px solid #fff; }
 #main #subnav .type#tour { width:190px; float:left; }
 
 #main #subnav .type#tips { width:787px; border-left:1px solid #ccc; }


 #main #subnav .column .grid3col { width:690px; }
 #main #subnav .column .grid3col .column { width:210px; }

 #main #subnav h2 { height:30px; line-height:30px; text-indent:24px; color:#595959; font-size:12px; font-weight:normal; background:#fff url(/images/subnav_header_bg.gif) repeat-x; }

 #main #subnav h3 { margin:0 0 .3em 26px; color:#333; font-size:12px; line-height:1.3em; }
 #main #subnav h3.maintitle { margin:.6em 0 .6em 26px; color:#555; font-size:17px; line-height:1.3em; }
 #main #subnav h3 span { display:none; }

 #main #subnav .category { width:230px; margin:0 5px; font-size:11px; line-height:1.3em; float:left; }
 #main #subnav .category h3 { margin-left:21px !important; }
 #main #subnav .category ul { padding-bottom:1em; }
 #main #subnav .category ul li { margin:0 0 .1em; padding:0 0 2px 0; }
 #main #subnav .category ul li span { display:block; padding:2px 0 0; }
 #main #subnav .category ul li span a { display:block; padding:1px 10px 0 21px; color:#7d7d7d; }
 #main #subnav .category ul li span a:hover { color:#08c; }
 #main #subnav .category ul li.visited { background:url(http://images.apple.com/business/theater/images/subnav_item_check.gif) no-repeat 5px 6px; }
 #main #subnav .category ul li.active { background:#e0e0e0 url(http://images.apple.com/business/theater/images/subnav_item_bgbottom.gif) no-repeat 0 100%; }
 #main #subnav .category ul li.active span { background:url(http://images.apple.com/business/theater/images/subnav_item_bgtop.gif) no-repeat 0 0; }
 #main #subnav .category ul li.active span a { color:#000; text-decoration:none; outline:none; cursor:default; background:url(http://images.apple.com/business/theater/images/subnav_item_play.gif) no-repeat 3px 0; }

 #main #subnav h3 { clear:both; margin:0 0 1em 26px; color:#333; font-weight:normal; font-size:14px; line-height:1.3em; }
 #main #subnav h4 { margin:0 0 .3em 26px; font-size:12px; line-height:1.3em; }
 #main #subnav h5 { font-weight:bold; margin:0 0 .3em 26px; font-size:11px; line-height:1.3em; }

 #main #subnav .category { width:200px; margin:0 5px; font-size:11px; line-height:1.3em; }
 #main #subnav .category h4,
 #main #subnav .category h5 { margin-left:21px; }
 #main #subnav .category ul { padding-bottom:17px; }
 #main #subnav .category ul li { margin:0 0 .1em; padding:0 0 2px 0; }
 #main #subnav .category ul li span { display:block; padding:2px 0 0; }
 #main #subnav .category ul li span a { display:block; padding:1px 10px 0 21px; color:#7d7d7d; }
 #main #subnav .category ul li span a:hover { color:#08c; }
 #main #subnav .category ul li.visited { background:url(http://images.apple.com/business/theater/images/subnav_item_check.gif) no-repeat 5px 6px; }
 #main #subnav .category ul li.active { background:#e0e0e0 url(http://images.apple.com/business/theater/images/subnav_item_bgbottom.gif) no-repeat 0 100%; }
 #main #subnav .category ul li.active span { background:url(http://images.apple.com/business/theater/images/subnav_item_bgtop.gif) no-repeat 0 0; }
 #main #subnav .category ul li.active span a { color:#000; text-decoration:none; outline:none; cursor:default; background:url(http://images.apple.com/business/theater/images/subnav_item_play.gif) no-repeat 3px 0; }