<% content_for(:section) do %>Languages<% end %>
<% content_for(:toolbar) do %>
  <%= link_to 'Create Language', new_language_path %>
<% end %>
<table>
  <tr>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%= link_to language.name, language %></td>
    <td><%= link_to 'Edit', edit_language_path(language) %></td>
    <td><%= link_to 'Destroy', language, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

