<% content_for(:section) do %>Viewing language<% end %>
<% content_for(:toolbar) do %>
  <%= link_to 'Edit', edit_language_path(@language) %> |
  <%= link_to 'Back', languages_path %>
<% end %>

<p class="tag green">Name</p>
<p><%= @language.name %></p>
