<% content_for :breadcrumbs do %>
  <li>Settings</li>
<% end %>
<% content_for :actions do %>
  <li class="last"><%= link_to 'Back', :back %></li>
<% end %>

<h1>Settings</h1>

<%= render :partial => 'form' %>