<% content_for :breadcrumbs do %>
  <li>Legal</li>
<% end %>

<h1>Legal Documents</h1>

<%= link_to 'Terms of use', termsofuse_url, :class => 'big' %><br />
<br />
<%= link_to 'Privacy Policy', privacypolicy_url, :class => 'big' %>