<% content_for(:section) do %>Listing Codes<% end %>
<% content_for(:actionbar) do %>
  <%= link_to 'Add Code', new_code_path %>
<% end %>

<table>
  <tr>
  </tr>
<% @codes.each do |code| %>
  <tr>
    <td><%= CodeRay.scan(code.body, highlight_lang(code.language.permalink)).div(:line_numbers => :table)  %></td>
  </tr>
<% end %>
</table>
