<div id="globalfooter" class="gf-980">
  <p class="gf-links"><a href="/">Home</a> | <%= link_to 'Bookmarks', bookmarks_url %></p>
  <p class="gf-sosumi">per general consensus, pants are required <a href="/legal/terms/site.html">Terms of Use</a> | <a href="/legal/privacy/">Privacy Policy</a></p>
</div>