<div id="globalfooter" class="gf-980">
  <p class="gf-links"><a href="/">Home</a> | <%= link_to 'Bookmarks', bookmarks_url %></p>
  <p class="gf-sosumi">per general consensus, pants are required <%= link_to 'Terms of Use', termsofuse_path %> | <%= link_to 'Privacy Policy', privacypolicy_path %></p>
</div>