<div style="width:250px; float:right; text-align:right; margin:-20px 95px;">
  <% form_for search_path, :url => search_path, :method => 'post' do |f| %>
    <input id="search" name="query" type="search" placeholder="Search..."	autosave="prb_srch" style="width:250px" results="5" />
  <% end %>
</div>